*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --text-color: #f3f3f3;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background: rgb(96, 96, 161);
  background: linear-gradient(
    90deg,
    rgba(96, 96, 161, 1) 0%,
    rgb(186 155 203) 100%
  );
}
h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3em;
}
.data-wrapper {
  display: flex;
  flex-direction: column;
}
.information-div {
  display: flex;
  justify-content: space-between;
}
.header {
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.main-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}
div.information-div > * {
  width: 25%;
}
div.header > * {
  width: 25%;
}
#travel-options {
  width: 100%;
}
.mobile-menu {
  display: none;
  font-weight: 600;
}
select {
  appearance: none;
  font-size: 24px;
  font-family: "Inter", "FontAwesome";
  padding: 10px 50px;
  color: var(--text-color);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-image: var(--arrow-icon);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  outline: none;
}
select:focus,
.select-button:focus {
  outline: 3px solid;
  outline-offset: -3px;
  animation: colorCycle 5s infinite;
}
.select-selected {
  background: rgb(0 0 0 / 25%);
  background-image: var(--arrow-icon);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  border: 1px solid rgba(255, 255, 255, 0.26);
}
.selected {
  background: rgb(0 0 0 / 25%) !important;
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.select-wrapper {
  position: relative;
}
.select-icon {
  font-family: "Fontawesome";
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 4;
  font-size: 20px;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}
.select-button {
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  width: 50%;
  font-size: 24px;
  color: var(--text-color);
}
.select-button:hover {
  cursor: pointer;
}
.operator-div,
.operator {
  padding-left: 20px;
}
.information-wrapper-div {
  padding: 20px;
}
.information-wrapper-div:nth-child(odd) {
  background: rgba(255, 255, 255, 0.17);
}
.information-wrapper-div:nth-last-child(1) {
  border-radius: 0px 0px 12px 12px;
}

@keyframes colorCycle {
  0% {
    outline-color: #f79533;
  }
  12.5% {
    outline-color: #f37055;
  }
  25% {
    outline-color: #ef4e7b;
  }
  37.5% {
    outline-color: #a166ab;
  }
  50% {
    outline-color: #5073b8;
  }
  62.5% {
    outline-color: #1098ad;
  }
  75% {
    outline-color: #07b39b;
  }
  87.5% {
    outline-color: #6fba82;
  }
  100% {
    outline-color: #f79533;
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .information-wrapper-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px;
  }
  .information-wrapper-div:nth-child(1) {
    border-radius: 12px 12px 0px 0px;
  }
  .operator-div,
  .operator {
    padding-left: 0px;
  }
  .time-div,
  .operator-div,
  .number-div,
  .direction-div {
    width: 100% !important;
  }
  .information-div {
    flex-wrap: wrap;
  }
  .header {
    display: none;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  select {
    font-size: 24px;
    padding: 20px 60px;
  }
  .select-icon {
    top: 22px;
    font-size: 24px;
  }
  h1 {
    font-size: 2.5em;
  }
}
