*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: #f3f3f3;
  background: rgb(96, 96, 161);
  background: linear-gradient(
    90deg,
    rgba(96, 96, 161, 1) 0%,
    rgb(186 155 203) 100%
  );
}
.data-wrapper {
  display: flex;
  flex-direction: column;
}
.information-div {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 20px;
}
.content-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3em;
}
div.information-div > * {
  width: 25%;
}
div.header > * {
  width: 25%;
}
#travel-options {
  width: 100%;
}

.mobile-menu {
  display: none;
  font-weight: 600;
}

select {
  appearance: none;
  font-size: 24px;
  font-family: "Inter", "FontAwesome";
  color: #f3f3f3;
  padding: 10px 50px;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-image: var(--arrow-icon);
  background-repeat: no-repeat;
  background-position: 99% 50%;
}

.operator-div,
.operator {
  padding-left: 20px;
}
.information-wrapper-div {
  padding: 20px;
}
.information-wrapper-div:nth-child(odd) {
  background: rgba(255, 255, 255, 0.17);
}
.information-wrapper-div:nth-last-child(1) {
  border-radius: 0px 0px 12px 12px;
}
.select-wrapper {
  position: relative;
}
.select-icon {
  font-family: "Fontawesome";
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 4;
  font-size: 20px;
}
@media (max-width: 768px) {
  .operator-div,
  .operator {
    padding-left: 0px;
  }
  .information-wrapper-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .time-div,
  .operator-div,
  .number-div,
  .direction-div {
    width: 100% !important;
  }

  .information-div {
    flex-wrap: wrap;
  }
  .header {
    display: none;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .information-wrapper-div:nth-child(1) {
    border-radius: 12px 12px 0px 0px;
  }
  select {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5em;
  }
  .select-icon {
    left: 20px;
    top: 11px;
    z-index: 4;
    font-size: 16px;
  }
}
